#page-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#page-login .left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#page-login .form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4D6F80;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#page-login .form-container h1{
  margin-bottom: 20px;
}

#page-login .icon {
  margin-bottom: 20px;
}

form.login-form {
    width: 100%;
    max-width: 400px;
}

form.login-form .input-block + .input-block {
    margin-top: 24px;
  }
  
  form.login-form .input-block label {
    display: flex;
    margin-bottom: 8px;
    line-height: 24px;
  }
  
  form.login-form .input-block input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background: #F5F8FA;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    outline: none;
    color: #5C8599;
  }
  
  form.login-form button.confirm-button {
    margin-top: 64px;
  
    width: 100%;
    height: 64px;
    border: 0;
    cursor: pointer;
    background: #00C7C7;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 800;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
  }
  
  form.login-form button.confirm-button:hover {
    background: #696969;
  }
  
  @media(max-width: 800px) {
    #page-login {
      flex-direction: column;
    }
  }